.square1 {
    border: 0px solid blue;
    background-color: red;
    height: 500px;
    width: 500px;
    position: relative;
    left: 30%;
};

/* #circle1{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: green;
};

.square2{

};

.circle2{

};

.square3{

};

.circle3{

};

.square4{ */

};


